Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-02, with the labels that each got.

#31 Конструктор класса CAuditor реализован
  LibOfTimetableOfClasses/CAuditor.cs
Labels: Auditor, Controller, Story, new()

#48 Реализован конструктор для CGroup() : base("Группа") для класса CGrou…
  LibOfTimetableOfClasses/CGroup.cs
Labels: Controller, Group, Story, new()

#49 Реализован метод Insert(Model model) класса CTeacher унаследованного …
  LibOfTimetableOfClasses/CTeacher.cs
Labels: Controller, Insert(Model model), Story, Teacher

#52 Реализован метод Delete(Model model) сущности Teacher
  LibOfTimetableOfClasses/CTeacher.cs
Labels: Controller, Delete(Model model), Story, Teacher

#53 byte population убран из составного ключа.
  LibOfTimetableOfClasses/CGroup.cs
Labels: Bug, Controller, Group, new()

#55 Разработан метод Update(Model model) сущность Auditor
  LibOfTimetableOfClasses/CAuditor.cs
Labels: Auditor, Controller, Story, Update(Model model)

#60 Значения столбца Название (Name) стало уникальным.
  LibOfTimetableOfClasses/CDiscipline.cs
Labels: Bug, Controller, Discipline, new()

#57 Реализован метод Update(Model model) сущности Group
  LibOfTimetableOfClasses/CGroup.cs
Labels: Controller, Group, Story, Update(Model model)

#61 Разработан метод Update(Model model) в классе CTeacher
  LibOfTimetableOfClasses/CTeacher.cs
Labels: Controller, Story, Teacher, Update(Model model)

#58 Исправлен составной ключ
  LibOfTimetableOfClasses/CAuditor.cs
Labels: Auditor, Bug, Controller, new()

#72 Реализован метод Insert(Model model) класса CGroup
  LibOfTimetableOfClasses/CGroup.cs
Labels: Controller, Group, Insert(Model model), Story

#64 Реализован метод Update(Model model) сущности Discipline
  LibOfTimetableOfClasses/CDiscipline.cs
Labels: Controller, Discipline, Story, Update(Model model)

#68 Реализовано обновление данных таблицы Преподаватели task-67
  TimetableOfClasses/Teachers.cs
Labels: Select(), Story, Teacher, View

#65 Реализован метод Insert(model:Model) класса Auditor
  LibOfTimetableOfClasses/CAuditor.cs
Labels: Auditor, Controller, Insert(Model model), Story

#75 Добавление нового преподавателя #66
  TimetableOfClasses/AddTeacher.cs
Labels: Insert(Model model), Story, Teacher, View

#73 Реализация нового элемента NumericUpDown вместо выпадающего списка
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
Labels: Model, Teacher, improvement

#80 Создал форму Добавить дисциплину
  TimetableOfClasses/AddDiscipline.Designer.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/AddDiscipline.resx
  TimetableOfClasses/Discipline.Designer.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Discipline, Insert(Model model), Story, View

#84 Исправление неправильного добавления преподавателя в таблицу преподав…
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/Teachers.cs
Labels: Bug, Teacher, View

#87 Создал форму Добавить дисциплину
  TimetableOfClasses/AddDiscipline.Designer.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/AddDiscipline.resx
  TimetableOfClasses/Discipline.Designer.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Discipline, Insert(Model model), Story, View

#93 Произведена привязка таблицы контроллера CGroup к таблице Группы
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Groups.resx
Labels: Group, Select(), Story, View

#106 Реализован метод Delete(Model model) сущности Auditor
  LibOfTimetableOfClasses/CAuditor.cs
Labels: Auditor, Controller, Delete(Model model), Story

#101 Кнопка удаления группы из таблицы Группы
  TimetableOfClasses/Groups.Designer.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Groups.resx
Labels: Group, Story, View
