Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-09, with the labels that each got.

#1205 Test > fix UT_Update_CUniversity
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Auto test, Unit test

#1210 Разработал форму "Нагрузка"
  TimetableOfClasses/AcademicLoad.Designer.cs
  TimetableOfClasses/AcademicLoad.cs
  TimetableOfClasses/AcademicLoad.resx
Labels: Script, Нагрузка

#1212 Form
  .gitattributes
  AddAcademicLoad/AddAcademicLoad.sln
  AddAcademicLoad/AddAcademicLoad/AddAcademicLoad.csproj
  AddAcademicLoad/AddAcademicLoad/App.config
  AddAcademicLoad/AddAcademicLoad/Form1.Designer.cs
  AddAcademicLoad/AddAcademicLoad/Form1.cs
  AddAcademicLoad/AddAcademicLoad/Form1.resx
  AddAcademicLoad/AddAcademicLoad/Program.cs
  AddAcademicLoad/AddAcademicLoad/Properties/AssemblyInfo.cs
  AddAcademicLoad/AddAcademicLoad/Properties/Resources.Designer.cs
  AddAcademicLoad/AddAcademicLoad/Properties/Resources.resx
  AddAcademicLoad/AddAcademicLoad/Properties/Settings.Designer.cs
  AddAcademicLoad/AddAcademicLoad/Properties/Settings.settings
Labels: View, Нагрузка

#1218 Создал контроллер СAcademicLoad
  LibOfTimetableOfClasses/CAcademicLoad.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
Labels: Controller, Нагрузка

#1220 Добавил файлы формыНагрузка к решению и добавил возможность открытия …
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
  UnitTestOfTimetableOfClasses/AcademicLoad.cs
  UnitTestOfTimetableOfClasses/AcademicLoad.designer.cs
  UnitTestOfTimetableOfClasses/AcademicLoad.resx
Labels: Story, Нагрузка

#1219 Создал класс MAcademicLoad со свойствами определяющих модель Нагрузка
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MAcademicLoad.cs
Labels: Model, Story, Нагрузка

#1206 fixed UT_Delete_CTrainingProfile
  UnitTestOfTimetableOfClasses/UT_Delete_CTrainingProfile.cs
Labels: Auto test, Script, Unit test

#1211 Исправил сбои в автотестах UT_Update_CGroup
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
Labels: Auto test, Script, Unit test

#1230 Реализовал метод Update(Model model) сущности Нагрузка
  LibOfTimetableOfClasses/CAcademicLoad.cs
Labels: Controller, Story, Update(Model model), Нагрузка
