Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-06, with the labels that each got.

#986 Добавлена модель кафедры
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MDepartment.cs
  LibOfTimetableOfClasses/ValidateUtils.cs
  TimetableOfClasses/AddDepartment.Designer.cs
  TimetableOfClasses/AddDepartment.cs
  TimetableOfClasses/AddDepartment.resx
  TimetableOfClasses/Departments.Designer.cs
  TimetableOfClasses/Departments.cs
Labels: Model, View, Кафедра

#987 Task 982
  LibOfTimetableOfClasses/MDepartment.cs
Labels: Model, Кафедра

#992 Разработан класс Logs, которыq записывает логи в файл
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/Logs.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/Teachers.cs
Labels: Story

#1000 Добавил обработчик исключений и вызвал в них методы GetError и SetInfo класса Logs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/Teachers.cs
Labels: Story, Преподаватель

#1001 Доработан класс Logs
  LibOfTimetableOfClasses/Logs.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/Teachers.cs
Labels: Story

#985 Создал форму "Параметры". Вкладка День.
  TimetableOfClasses/Characteristic.Designer.cs
  TimetableOfClasses/Characteristic.cs
  TimetableOfClasses/Characteristic.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Story, View, Параметры

#953 Исправлено неправильное отображение поля "Описание"
  TimetableOfClasses/Ministry.Designer.cs
Labels: Bug, View, ЛР03, Министерство

#1009 Исправление неверного отображения строк
  TimetableOfClasses/TypesOfOccupations.Designer.cs
  TimetableOfClasses/TypesOfOccupations.resx
Labels: Bug, Вид занятия

#1011 Созданы Unit тесты метода Insert
  UnitTestOfTimetableOfClasses/UT_Insert_CTypesOfOccupation.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Insert(Model model), Вид занятия

#1027 Автоматизированы сценарии тестирования методом unit - тестирования для метода Update(Model model) класса СTypesOfOccupation
  UnitTestOfTimetableOfClasses/UT_Update_CTypesOfOccupation.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Update(Model model), Вид занятия

#1028 Автоматизированы сценарии unit - тестов для конструктора MTypesOfOccupation(Model model) сущности MTypesOfOccupation
  UnitTestOfTimetableOfClasses/UT_MTypesOfOccupation.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Unit test, Вид занятия

#1030 Автоматизировал unit-тесты для класса Logs
  LibOfTimetableOfClasses/Logs.cs
  TimetableOfClasses/Teachers.cs
  UnitTestOfTimetableOfClasses/UT_Logs.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Logs, Unit test

#1026 Исправлены сбои в файле UT_Insert_CGroup
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
Labels: Auto test, Controller, Insert(Model model), Script, Unit test, Группа

#1049 Доработаны валидации
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MDepartment.cs
  LibOfTimetableOfClasses/Validate.cs
  LibOfTimetableOfClasses/ValidateUtils.cs
  TimetableOfClasses/AddDepartment.Designer.cs
  TimetableOfClasses/AddDepartment.cs
  TimetableOfClasses/AddDepartment.resx
Labels: Model, View, Кафедра

#1055 Разработал unit-тесты для конструктора MAcademicDegree() сущности MAcademicDegree
  UnitTestOfTimetableOfClasses/UT_MAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Model, Unit test, Ученая степень

#1058 Добавил комментарии к unit-тестам класса Logs
  UnitTestOfTimetableOfClasses/UT_Logs.cs
Labels: Auto test, Logs, Unit test

#1060 Дополнить unit-тесты для CAcademicDegree
  UnitTestOfTimetableOfClasses/UT_Delete_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicDegree.cs
Labels: Auto test, Controller, Unit test, Ученая степень

#1072 Исправил ошибку в юнит тесте UT_MAcademicDegree
  UnitTestOfTimetableOfClasses/UT_MAcademicDegree.cs
Labels: Auto test, Model, Unit test, Ученая степень

#1090 Добавил unit-тесты для MDepartment
  LibOfTimetableOfClassesTests/LibOfTimetableOfClassesTests.csproj
  LibOfTimetableOfClassesTests/MDepartmentTests.cs
  LibOfTimetableOfClassesTests/Properties/AssemblyInfo.cs
  UT_MDepartment/Properties/AssemblyInfo.cs
  UT_MDepartment/UT_MDepartment.csproj
  UT_MDepartment/packages.config
  UnitTestOfTimetableOfClasses/UT_MDepartment.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Model, Unit test, Кафедра

#1089 Исправлены сбои в автотестах расположенных в файле UT_Delete_CEnclosures
  LibOfTimetableOfClasses/RefData.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
Labels: Auto test, Script, Unit test

#1083 Исправил сбои в автотестах расположенных в файле UT_Insert_CTeacher
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
Labels: Auto test, Script, Unit test

#1059 Изменила название формы Корпуса с "AddEnclosures" на "Добавить Корпус"
  TimetableOfClasses/AddEnclosures.Designer.cs
Labels: Bug, Manual testing, Корпус

#1056 Изменено значение минимального количества студентов на форме "Добавить группу"
  TimetableOfClasses/AddGroup.Designer.cs
Labels: Bug, Insert(Model model), Manual testing, Группа

#1102 Исправлено сообщение об ошибке в справочнике "Корпус"
  TimetableOfClasses/AddEnclosures.cs
Labels: Bug, View, Корпус

#1101 Исправлено некорректное название формы "Расписание"
  TimetableOfClasses/Timetable.Designer.cs
Labels: Bug, View, Расписание

#1063 Исправил сбои в автотестах расположенных в файле UT_Update_CTeacher
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
Labels: Auto test, Script, Unit test

#1111 Исправлен Ввод некорректных данных в справочнике "ВУЗы" в поле "Фактический адрес"
  TimetableOfClasses/AddUniversity.cs
Labels: Bug, Insert(Model model), ВУЗ

#1112 Исправлена ошибка, когда в справочнике "Ученая степень" можно добавить "Краткое название" длиннее "Полное название"
  TimetableOfClasses/AcademicDegree.Designer.cs
  TimetableOfClasses/AddAcademicDegree.cs
Labels: Bug, Insert(Model model), Manual testing, Ученая степень

#1116 Исправлено: В справочнике "Преподаватели" невозможно выбрать поле "ученая степень" и "ученое звание"
  TimetableOfClasses/AddTeacher.cs
Labels: Bug, Insert(Model model), Manual testing, Преподаватель

#1103 Исправление некорректной работы кнопки отмены в форме направление подготовки
  TimetableOfClasses/AddDirectionOfPreparation.Designer.cs
  TimetableOfClasses/AddDirectionOfPreparation.cs
Labels: Bug, Направление подготовки
