Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-04, with the labels that each got.

#207 Приведены имена столбцов в соответствие с программой
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/MGroup.cs
  LibOfTimetableOfClasses/MTeacher.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/Groups.Designer.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Groups.resx
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/Teachers.cs
  UnitTestOfTimetableOfClasses/UT_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_MTeacher.cs
Labels: Controller, Model, View, Группа, Преподаватель

#212 Разработан подсчет количества строк в таблице Groups
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/MGroup.cs
  TimetableOfClasses/Groups.Designer.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Groups.resx
Labels: View, Группа

#213 Реализована нумерация строк в таблице Teachers
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/MTeacher.cs
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/Teachers.resx
Labels: View, Преподаватель

#214 Создана форма AddGroup
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: View, Группа

#218 Task 208
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
Labels: View, Преподаватель

#193 Реализован метод Insert(model:Model) для класса CHEI унаследованного от класса Controller
  LibOfTimetableOfClasses/CHEI.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MCHEI.cs
Labels: Controller, Insert(Model model), Story, ВУЗ, ЛР03

#202 Реализация сценариев тестирования пригодных для автоматизации unit-test для метода Insert(Model model) класса CTeacher
  LibOfTimetableOfClasses/CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_CTeacher.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Controller, Insert(Model model), Script, Unit test, ЛР04, Преподаватель

#225 Проверена корректность ввода и исправлены возникшие недочеты
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
Labels: View, Группа

#227 Разработано отслеживание наличия строки при ее добавление в методах Insert в СTeacher и СGroup
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CTeacher.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Teachers.cs
Labels: Controller, Insert(Model model), Группа, Преподаватель

#229 Проверена корректность валидации вводимых данных на форме AddTeacher
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
Labels: View, Преподаватель

#228 Добавлена в форме AddGroup возможность редактирования уже введенных данных
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/MGroup.cs
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/Groups.Designer.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Groups.resx
Labels: View, Группа

#242 Добавлена форме AddTeacher возможность редактировать уже введенные данные
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/MTeacher.cs
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/Teachers.cs
Labels: View, Преподаватель

#237 Task 223
  LibOfTimetableOfClasses/CGroup.cs
  TimetableOfClasses/Groups.Designer.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Groups.resx
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/Teachers.cs
Labels: View, Преподаватель

#226 Автоматизированно unit-test метода Insert(Model model) сущности Преподаватель
  UnitTestOfTimetableOfClasses/UT_CTeacher.cs
Labels: Auto test, Controller, Insert(Model model), Unit test, ЛР04, Преподаватель

#255 Улучшены названия, исправления в контроллере, привязка данных
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/CDiscipline.cs
  LibOfTimetableOfClasses/MAuditor.cs
  LibOfTimetableOfClasses/MDiscipline.cs
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Auditor.resx
  TimetableOfClasses/Discipline.Designer.cs
Labels: Controller, Model, View, Аудитория, Дисциплина

#256 Создана форма AddAuditor
  TimetableOfClasses/AddAuditor.Designer.cs
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/AddAuditor.resx
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: View, Аудитория

#257 Исправление отображение
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/CDiscipline.cs
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Auditor.resx
  TimetableOfClasses/Discipline.Designer.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Discipline.resx
Labels: Controller, Model, View, Аудитория, Дисциплина

#259 Изменено поведение кнопок "Удалить" для форм Auditor и Discipline
  LibOfTimetableOfClasses/CAuditor.cs
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Discipline.Designer.cs
  TimetableOfClasses/Discipline.cs
Labels: View, Аудитория, Дисциплина

#263 Изменена форма AddDiscipline согласно новым требованиям
  TimetableOfClasses/AddDiscipline.Designer.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/Discipline.cs
Labels: View, Дисциплина

#264 Разработана нумерация строк в таблице Discipline и Auditor
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Auditor.resx
  TimetableOfClasses/Discipline.Designer.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Discipline.resx
Labels: View, Аудитория, Дисциплина

#265 Формам AddAuditor и AddDiscipline добавлена возможность редактировать уже введенные данные
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/CDiscipline.cs
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Auditor.resx
  TimetableOfClasses/Discipline.Designer.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Discipline.resx
Labels: View, Аудитория, Дисциплина

#267 Написаны unit-тесты для метода Insert(Model model) сущности CGroup
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Insert(Model model), Unit test, Группа

#266 Написаны unit-тесты для метода Insert(Model model) сущности CTeacher
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Insert(Model model), Unit test, Преподаватель

#278 Написаны unit-тесты для метода Update(Model model) сущности CGroup
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Unit test, Update(Model model), Группа

#279 Написаны unit-тесты для метода Update(Model model) сущности CTeacher
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Unit test, Update(Model model), Преподаватель

#282 Написаны unit-тесты для метода Delete(Model model) сущности CTeacher
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Delete(Model model), Unit test, Преподаватель

#285 Написаны unit-тесты для метода Delete(Model model) сущности CGroup
  UnitTestOfTimetableOfClasses/UT_Delete_CGroup.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Delete(Model model), Unit test, Группа

#290 Написаны unit-тесты для конструктора MTeacher() сущности MTeacher
  UnitTestOfTimetableOfClasses/UT_MTeacher.cs
Labels: Auto test, Model, Unit test, new(), Преподаватель

#289 Написаны unit-тесты для конструктора MGroup(Model model) сущности MGroup
  UnitTestOfTimetableOfClasses/UT_MGroup.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Unit test, new(), Группа

#292 Реализованы unit-тесты для метода Delete(Model model) сущности CDiscipline
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Delete(Model model), Unit test, Дисциплина

#294 Реализованы unit-тесты для конструктора MAuditor(Model model) сущности MAuditor
  UnitTestOfTimetableOfClasses/UT_MAuditor.cs
Labels: Model, Unit test, new(), Аудитория

#293 Реализованы unit-тесты для метода Delete(Model model) сущности CAuditor
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Delete(Model model), Unit test, Аудитория

#297 Для СGoup перейдено от наследования Controller к наследованию DataTable
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/IController.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/Groups.cs
Labels: Controller, Группа

#312 Реализованы UT для конструктора MDiscipline() сущности MDiscipline
  UnitTestOfTimetableOfClasses/UT_MDiscipline.cs
Labels: Model, Unit test, new(), Дисциплина

#313 Реализованы UT для метода Insert(Model model) сущности CDiscipline
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
Labels: Insert(Model model), Unit test, Дисциплина

#315 Написаны unit-тесты для метода Insert(Model model) сущности CAuditor#270
  UnitTestOfTimetableOfClasses/UT_Insert_CAuditor.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Insert(Model model), Unit test, Аудитория

#326 Для СAuditor сделан переход от наследования Controller к наследованию DataTable
  LibOfTimetableOfClasses/CAuditor.cs
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Start.cs
Labels: Controller, Аудитория

#325 Исправлены ошибки в тестах
  UnitTestOfTimetableOfClasses/UT_Delete_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
Labels: Unit test

#342 Исправлены ошибки unit-тестов метода Delete(Model model) сущности CAuditor
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
Labels: Auto test, Delete(Model model), Unit test, Аудитория

#327 Для СDiscipline сделан переход от наследования Controller к наследованию DataTable
  LibOfTimetableOfClasses/CDiscipline.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/Discipline.cs
Labels: Controller, Дисциплина

#347 Дополнены unit-тесты метода Update(Model model) сущности CTeacher
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
Labels: Auto test, Unit test, Update(Model model), Преподаватель

#348 Дополнены unit-тесты метода Update(Model model) сущности CGroup
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
Labels: Auto test, Unit test, Update(Model model), Группа

#353 Исправлены ошибки unit-тестов методов Update(Model model) и Insert(Model model) сущностей CDiscipline и CAuditor
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAuditor.cs
Labels: Insert(Model model), Unit test, Update(Model model), Аудитория, Дисциплина

#351 Исправлены ошибки unit-тестов метода Delete(Model model) сущности CDiscipline
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
Labels: Auto test, Delete(Model model), Unit test, Дисциплина

#352 Исправлен баг с доступностью кнопок формы Аудитория
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Auditor.resx
Labels: Bug, Аудитория

#356 Исправление ошибки, возникшей из-за неудачного слияния
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
Labels: Auto test, Unit test, Дисциплина

#365 Выполнены задачи #354 #355 #357
  LibOfTimetableOfClasses/CTitle.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MTitle.cs
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AddAcademicTitle.Designer.cs
  TimetableOfClasses/AddAcademicTitle.cs
  TimetableOfClasses/AddAcademicTitle.resx
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Delete(Model model), Insert(Model model), Model, Story, Учёное звание

#367 Добавлены MEnclosures и СEnclosures
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MEnclosures.cs
Labels: Controller, Model, Story, Корпус

#385 Создана форму Корпуса.
  LibOfTimetableOfClasses/MEnclosures.cs
  TimetableOfClasses/Enclosures.Designer.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Enclosures.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Story, View, Корпус

#185 Реализован класс MHEI унаследованный от класса Model
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MHEI.cs
  TimetableOfClasses/DirectionOfPreparation.Designer.cs
  TimetableOfClasses/DirectionOfPreparation.cs
  TimetableOfClasses/DirectionOfPreparation.resx
Labels: Model, Story, new(), ВУЗ, ЛР03

#371 Фикс вылета после очистки полей формы "Добавить преподавателя"
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
Labels: Bug, Controller, Преподаватель

#388 Разработаны Модель и Контроллер "Профиль подготовки"
  LibOfTimetableOfClasses/CTrainingProfiles.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MTrainingProfiles.cs
Labels: Controller, Model, ПрофильПодготовки

#406 "Окно удаления ряда при не выбраном ряде" исправлено
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Teachers.cs
Labels: Bug, Преподаватель

#408 Изменено имя формы
  TimetableOfClasses/Teachers.Designer.cs
Labels: Bug, View, Преподаватель

#409 Добавлени ограничения для полей форм AddGroup и AddTeacher
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
Labels: Bug, Преподаватель

#411 Исправление обработчиков списка справочников на главной форме
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
Labels: Bug, View, Корпус

#410 Создана форма Профиль подготовки
  LibOfTimetableOfClasses/CTrainingProfiles.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/MTrainingProfiles.cs
  TimetableOfClasses/AddProfile.Designer.cs
  TimetableOfClasses/AddProfile.cs
  TimetableOfClasses/AddProfile.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
  TimetableOfClasses/TrainingProfiles.Designer.cs
  TimetableOfClasses/TrainingProfiles.cs
  TimetableOfClasses/TrainingProfiles.resx
Labels: View, ПрофильПодготовки

#413 Написаны unit-тесты для метода Insert(Model model) сущности CEnclosures
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Insert(Model model), Unit test, Корпус

#414 Написаны unit-тесты для метода Update(Model model) сущности CEnclosures
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Unit test, Update(Model model), Корпус

#415 Написаны unit-тесты для метода Delete(Model model) сущности CEnclosures
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Delete(Model model), Unit test, Корпус

#419 Разработан сценарии тестирования методом юнит-тестирования для метода Insert(Model model) сущности Учёное звание
  LibOfTimetableOfClasses/CTitle.cs
  Student-timetable/.gitignore
  Student-timetable/README.md
  Student-timetable/azure-pipelines.yml
  TimetableOfClasses/AddAcademicTitle.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CATitle.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTitle.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Insert(Model model), Unit test, Учёное звание

#429 Разработаны unit-тесты для конструктора MTrainingProfile(Model model) сущности MTrainingProfile
  UnitTestOfTimetableOfClasses/UT_MTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Unit test, new(), ПрофильПодготовки

#428 Разработаны unit-тесты метода Delete(Model model) класса CTrainingProfile
  UnitTestOfTimetableOfClasses/UT_Delete_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Delete(Model model), Unit test, ПрофильПодготовки

#430 Автоматизирован сценарий тестирования методом юнит-тестирования для метода Delete(Model model) сущности Учёное звание
  UnitTestOfTimetableOfClasses/UT_Deleted_CATitle.cs
Labels: Auto test, Controller, Delete(Model model), Unit test, Учёное звание

#431 Реализован функционал кнопки Изменить формы Ученые звания
  LibOfTimetableOfClasses/CTitle.cs
  LibOfTimetableOfClasses/MTitle.cs
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AddAcademicTitle.Designer.cs
  TimetableOfClasses/AddAcademicTitle.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Controller, Story, Учёное звание

#433 Revert "Реализован функционал кнопки Изменить формы Ученые звания"
  LibOfTimetableOfClasses/CTitle.cs
  LibOfTimetableOfClasses/MTitle.cs
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AddAcademicTitle.Designer.cs
  TimetableOfClasses/AddAcademicTitle.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Controller, Story, Учёное звание

#448 Fix bug
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
Labels: Bug, View, Преподаватель, Средний

#450 Added CUniversity and MUniversity
  LibOfTimetableOfClasses/CUniversity.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MUniversity.cs
Labels: Controller, Model, Story, ВУЗ

#451 Добавил тесты для CTrainingProfile
  UnitTestOfTimetableOfClasses/UT_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Insert(Model model), Unit test, Update(Model model), ПрофильПодготовки

#456 The division of the name of the full name of the properties of the name
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/MTeacher.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/Teachers.cs
Labels: Bug, Controller, Model, Преподаватель, Средний

#462 Исправлены ошибки в тестах сущности Преподаватель
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_MTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
Labels: Bug, Unit test, improvement, Преподаватель

#466 Добавлена форма AddUniversity
  TimetableOfClasses/AddUniversity.Designer.cs
  TimetableOfClasses/AddUniversity.cs
  TimetableOfClasses/AddUniversity.resx
  TimetableOfClasses/TimetableOfClasses.csproj
  TimetableOfClasses/University.Designer.cs
  TimetableOfClasses/University.cs
Labels: Story, View, ВУЗ

#460 Разработана форма ВУЗ
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/University.Designer.cs
  TimetableOfClasses/University.cs
  TimetableOfClasses/University.resx
Labels: Story, View, ВУЗ

#467 fixing bug with note
  TimetableOfClasses/AddTeacher.cs
Labels: Bug, Controller, Преподаватель, Средний

#469 fixing bug first letter toupper
  TimetableOfClasses/AddTeacher.cs
Labels: View, improvement, Преподаватель, Средний

#470 Добавлен комментарий в CTitle сущности Ученое звание
  LibOfTimetableOfClasses/CTitle.cs
Labels: Controller, Учёное звание

#472 Исправлены ошибочные комментарий в файле MTitle сущности Ученое звание
  LibOfTimetableOfClasses/MTitle.cs
Labels: Model, Учёное звание

#188 Создана форма Направления подготовки
  TimetableOfClasses/DirectionOfPreparation.Designer.cs
  TimetableOfClasses/DirectionOfPreparation.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Story, View, ЛР03, Направление подготовки

#475 Реализован метод insert, update в форме ВУЗы
  LibOfTimetableOfClasses/CUniversity.cs
  TimetableOfClasses/AddUniversity.cs
  TimetableOfClasses/University.cs
Labels: Story, View, ВУЗ

#476 Добавление возможности указывать отсутствие отчетсва
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
Labels: View, improvement, Преподаватель, Средний

#489 Исправлен баг открытия одновременно двух форм Ученые степени
  TimetableOfClasses/Start.Designer.cs
Labels: Bug, Ученая степень

#491 Добавил форму AddAcademicDegree
  TimetableOfClasses/AddAcademicDegree.Designer.cs
  TimetableOfClasses/AddAcademicDegree.cs
  TimetableOfClasses/AddAcademicDegree.resx
Labels: View, Ученая степень

#490 Разработана форма Институт
  LibOfTimetableOfClasses/CInstitute.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  TimetableOfClasses/Institute.Designer.cs
  TimetableOfClasses/Institute.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Controller, Model, View, Институт

#494 Разработан функционал кнопки Добавить формы Институты
  LibOfTimetableOfClasses/CInstitute.cs
  TimetableOfClasses/AddInstitute.Designer.cs
  TimetableOfClasses/AddInstitute.cs
  TimetableOfClasses/AddInstitute.resx
  TimetableOfClasses/Institute.Designer.cs
  TimetableOfClasses/Institute.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Insert(Model model), Story, Институт

#500 Исправление ошибки при удалении ВУЗа
  LibOfTimetableOfClasses/CUniversity.cs
  TimetableOfClasses/AddUniversity.Designer.cs
  TimetableOfClasses/AddUniversity.cs
  TimetableOfClasses/University.cs
Labels: Bug, ВУЗ, Высокий

#501 Разработана функциональность кнопки Удалить формы Институт
  LibOfTimetableOfClasses/MInstitute.cs
  TimetableOfClasses/Institute.Designer.cs
  TimetableOfClasses/Institute.cs
Labels: Delete(Model model), Story, Институт

#505 Разработан функционал кнопки Изменить формы Институты
  TimetableOfClasses/AddInstitute.Designer.cs
  TimetableOfClasses/Institute.Designer.cs
  TimetableOfClasses/Institute.cs
Labels: Story, Update(Model model), Институт

#507 Исправлены кнопки "Изменить" "Добавить" "Удалить"
  TimetableOfClasses/Institute.Designer.cs
  TimetableOfClasses/Institute.cs
Labels: Story, Update(Model model), Институт

#508 Добавлена нумерация строк в таблице формы Институты
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/Institute.Designer.cs
  TimetableOfClasses/Institute.cs
Labels: Story, Институт

#509 Написаны unit-тесты для метода Delete(Model model) сущности CUniversity
  UnitTestOfTimetableOfClasses/UT_Delete_CUniversity.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Delete(Model model), Unit test, ВУЗ

#510 Написаны unit-тесты для метода Insert(Model model) сущности CUniversity
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Insert(Model model), Unit test, ВУЗ

#511 Написаны unit-тесты для метода Update(Model model) сущности CUniversity
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Unit test, Update(Model model), ВУЗ

#516 Разработан статический метод bool TableCompare(DataTable,DataTable) для класса Controller
  LibOfTimetableOfClasses/Controller.cs
Labels: Controller, improvement, ЛР05

#519 Добавил CAcademicDegree, MAcademicDegree и функционал кнопок
  LibOfTimetableOfClasses/CAcademicDegree.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MAcademicDegree.cs
  TimetableOfClasses/AcademicDegree.Designer.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AddAcademicDegree.Designer.cs
  TimetableOfClasses/AddAcademicDegree.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Controller, Story, Ученая степень

#502 Ошибки исправлены
  TimetableOfClasses/AddAuditor.Designer.cs
  TimetableOfClasses/AddDiscipline.Designer.cs
  TimetableOfClasses/AddProfile.Designer.cs
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.resx
  TimetableOfClasses/Discipline.Designer.cs
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/TrainingProfiles.Designer.cs
  TimetableOfClasses/TrainingProfiles.cs
Labels: Bug, View, Аудитория, Дисциплина, ПрофильПодготовки

#520 Разработан функционал кнопок для формы AddAcademicDegree
  TimetableOfClasses/AcademicDegree.Designer.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AddAcademicDegree.Designer.cs
  TimetableOfClasses/AddAcademicDegree.cs
Labels: Controller, Story, Ученая степень

#531 Добавлен сценарии тестирования методом юнит-тестирования для метода Update(Model model) сущности Институт
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Unit test, Update(Model model), Институт

#533 Добавлен сценарий тестирования методом юнит-тестирования для метода Delete(Model model) сущности Институт
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Delete(Model model), Unit test, Институт

#534 Написаны unit-тесты для конструктора MUniversity(Model model) сущности MUniversity
  UnitTestOfTimetableOfClasses/UT_MUniversity.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Unit test, ВУЗ

#532 Возможность добавлять человека без отчества
  TimetableOfClasses/AddUniversity.cs
Labels: Bug, Update(Model model), ВУЗ

#536 Добавил нумерацию строк таблицы и исправить ошибку кнопки "Изменить"
  LibOfTimetableOfClasses/CAcademicDegree.cs
  LibOfTimetableOfClasses/CTitle.cs
  LibOfTimetableOfClasses/Controllers.cs
  TimetableOfClasses/AcademicDegree.Designer.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AddAcademicDegree.cs
Labels: Bug, Story, Ученая степень

#535 Исправлена форма подтверждение удаления сущности Институт
  TimetableOfClasses/AddInstitute.Designer.cs
  TimetableOfClasses/Institute.cs
Labels: Bug, Model, Институт, Низкий

#537 Разработаны тесты для метода Insert(Model model) сущности Институт
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
Labels: Auto test, Controller, Insert(Model model), Unit test, Институт

#540 Автоматизирован сценарий тестирования методом юнит-тестирования для метода Insert(Model model) сущности Учёная степень
  UnitTestOfTimetableOfClasses/UT_Insert_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Insert(Model model), Unit test, Ученая степень

#493 Разработаны Модель и Контроллер "Направление подготовки"
  LibOfTimetableOfClasses/CDirectionOfPreparation.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MDirectionOfPreparation.cs
Labels: Controller, Model, Направление подготовки

#564 Исправления для предыдущего слияния
  LibOfTimetableOfClasses/CDirectionOfPreparation.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/MDirectionOfPreparation.cs
Labels: Controller, Model, Направление подготовки
