Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-07, with the labels that each got.

#1100 Создал справочник "Учебная неделя"
  LibOfTimetableOfClasses/CHEI.cs
  LibOfTimetableOfClasses/CStudyWeek.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MStudyWeek.cs
  LibOfTimetableOfClasses/RefData.cs
  TimetableOfClasses/AddStudyWeek.Designer.cs
  TimetableOfClasses/AddStudyWeek.cs
  TimetableOfClasses/AddStudyWeek.resx
  TimetableOfClasses/Program.cs
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/StudyWeek.Designer.cs
  TimetableOfClasses/StudyWeek.cs
  TimetableOfClasses/StudyWeek.resx
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Story, View, Учебная неделя

#1118 Исправлено "Вид занятия подготовки" на "Вид занятия"
  TimetableOfClasses/Start.Designer.cs
Labels: Bug, View, Вид занятия

#1121 Исправлено Некорректное название столбца в форме профиль подготовки ("ширф")
  TimetableOfClasses/TrainingProfiles.Designer.cs
Labels: Bug, ПрофильПодготовки

#1120 Исправлено В классе СEnclosures первая буква использована из кириллического алфавита
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/RefData.cs
  TimetableOfClasses/AddEnclosures.cs
  TimetableOfClasses/Enclosures.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
Labels: Bug, Controller, Высокий, Корпус

#1122 изменил В классе CHEI класс родителя Controller на класс DataTable
  LibOfTimetableOfClasses/CHEI.cs
  TimetableOfClasses/AddDepartment.cs
Labels: Controller, ВУЗ

#1125 Пересоздана ветвь. Добавлена проверка на длины имен.
  LibOfTimetableOfClasses/CDiscipline.cs
Labels: Bug, Insert(Model model), Дисциплина

#1113 Создана форма Параметры. Вкладка Звонки
  TimetableOfClasses/Characteristic.Designer.cs
  TimetableOfClasses/Characteristic.cs
  TimetableOfClasses/Characteristic.resx
Labels: Story, View, ЛР03, Параметры

#1107 Test: fix UT_Insert_CUniversity
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
Labels: Auto test, Script, Unit test

#1160 Исправил Краш приложения при добавлении Направления подготовки
  TimetableOfClasses/AddDirectionOfPreparation.cs
Labels: Bug, Высокий, Направление подготовки

#1133 Исправил сбои в автотестах расположенных в файле UT_Delete_CGroup
  UnitTestOfTimetableOfClasses/UT_Delete_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
Labels: Auto test, Script, Unit test

#1159 Удалил все методы Delete в тестах которые не связаны с тестированием …
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
Labels: Auto test, Script, Unit test

#1154 Исправлено Не происходит уведомления, о том что данные уже существуют в форме Учетные звания при попытке добавить идентичные данные
  TimetableOfClasses/AddAcademicTitle.cs
Labels: Bug, Ученая степень

#1158 Удалил все очистки таблиц в автотестах
  UnitTestOfTimetableOfClasses/UT_Delete_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CDirectionOfPreparation.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Auto test, Script, Unit test

#1168 Исправил Неправильное название формы "Добавить Учебную неделю"
  TimetableOfClasses/AddStudyWeek.Designer.cs
Labels: Bug, Учебная неделя

#1166 Исправил Неверное название формы "Добавить вид занятия"
  TimetableOfClasses/AddTypesOfOccupations.Designer.cs
Labels: Insert(Model model), Вид занятия

#1167 Исправил У текстовых полей формы "Добавление ученой степени" нет прив…
  TimetableOfClasses/AddAcademicDegree.Designer.cs
Labels: Bug, Insert(Model model), Ученая степень

#1169 Добавил минимальный размер окна "Добавить институт"
  TimetableOfClasses/AddInstitute.Designer.cs
Labels: Bug, Insert(Model model), Институт

#1170 Добавил минимальный размер окна "Добавить вид занятия"
  TimetableOfClasses/AddTypesOfOccupations.Designer.cs
Labels: Bug, Insert(Model model), Вид занятия

#1172 Добавила минимальный размер окна "Добавить ВУЗ"
  TimetableOfClasses/AddUniversity.Designer.cs
Labels: Bug, Insert(Model model), ВУЗ

#1171 Добавила минимальный размер окна "Добавление ученой степени"
  TimetableOfClasses/AddAcademicDegree.Designer.cs
Labels: Bug, Insert(Model model), Ученая степень

#1174 Корректное растягивание столбцов на форме "Аудитория" при растягивании формы в ширину.
  TimetableOfClasses/Auditor.Designer.cs
Labels: Bug, Insert(Model model), Аудитория

#1175 При изменении размера формы "Добавить вид занятия" кнопки элементы окна меняются
  TimetableOfClasses/AddTypesOfOccupations.Designer.cs
Labels: Bug, Insert(Model model), Вид занятия

#1176 Добавил метод init, который заполняет таблицы
  LibOfTimetableOfClasses/RefData.cs
Labels: Controller
