Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-03, with the labels that each got.

#114 Из наследников класса Model удалить перечисление.
  LibOfTimetableOfClasses/MAuditor.cs
  LibOfTimetableOfClasses/MGroup.cs
  LibOfTimetableOfClasses/MTeacher.cs
Labels: Auditor, Discipline, Group, Model, Teacher, improvement, ЛР03

#113 Создана форма Министерства
  TimetableOfClasses/Ministry.Designer.cs
  TimetableOfClasses/Ministry.cs
  TimetableOfClasses/Ministry.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Story, View, ЛР03, Министерство

#127 Созданы кнопки "Отмена", "Создать и очистить", "Создать и закрыть" для формы "Добавить преподавателя"
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
Labels: Teacher, View, ЛР03

#131 Создана форма "Ученые звания"
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AcademicTitle.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Story, View, ЛР03, Учёное звание

#130 Создан интерфейс для классов наследников контроллера
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/CDiscipline.cs
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/IController.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
Labels: Controller, Story, ЛР03

#135 Реализован функционал кнопок "Создать и закрыть" и "Создать и очистить" для формы "Добавить дисциплину"
  TimetableOfClasses/AddDiscipline.Designer.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/Discipline.cs
Labels: Discipline, Insert(Model model), Story, View, ЛР03

#141 Изменить структуру класса Controller
  .gitignore
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/CDiscipline.cs
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/Controller.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/IController.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MAuditor.cs
  LibOfTimetableOfClasses/MDiscipline.cs
  LibOfTimetableOfClasses/MGroup.cs
  LibOfTimetableOfClasses/MTeacher.cs
  LibOfTimetableOfClasses/Model.cs
  LibOfTimetableOfClasses/Properties/AssemblyInfo.cs
  README.md
  TimetableOfClasses.sln
  TimetableOfClasses/AcademicDegree.Designer.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AcademicDegree.resx
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AcademicTitle.resx
  TimetableOfClasses/AddDiscipline.Designer.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/AddDiscipline.resx
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/AddTeacher.resx
  TimetableOfClasses/Auditor.Designer.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Auditor.resx
  TimetableOfClasses/Discipline.Designer.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Discipline.resx
  TimetableOfClasses/Groups.Designer.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Groups.resx
  TimetableOfClasses/Ministry.Designer.cs
  TimetableOfClasses/Ministry.cs
  TimetableOfClasses/Ministry.resx
  TimetableOfClasses/RefData.cs
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/Teachers.resx
  TimetableOfClasses/Timetable.Designer.cs
  TimetableOfClasses/Timetable.cs
  TimetableOfClasses/Timetable.resx
  TimetableOfClasses/TimetableOfClasses.csproj
  TimetableOfClasses/TimetableOfClasses.v11.suo
  UnitTestOfTimetableOfClasses/Properties/AssemblyInfo.cs
  UnitTestOfTimetableOfClasses/UT_MAuditor.cs
  UnitTestOfTimetableOfClasses/UT_MDiscipline.cs
  UnitTestOfTimetableOfClasses/UT_MTeacher.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
  UnitTestOfTimetableOfClasses/packages.config
Labels: Controller, Story, ЛР03

#136 Создана форма редактирования или добавления записи
  TimetableOfClasses/AddOrEditDirectory.Designer.cs
  TimetableOfClasses/AddOrEditDirectory.cs
  TimetableOfClasses/AddOrEditDirectory.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Story, View, ЛР03

#125 Создана форма "Справочники"
  TimetableOfClasses/Directory.Designer.cs
  TimetableOfClasses/Directory.cs
  TimetableOfClasses/Directory.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Story, View, ЛР03

#154 Восстановлены кнопки для вызова формы
  TimetableOfClasses/Start.Designer.cs
Labels: Story, View, ЛР03

#147 Создал форму 'Виды занятий' и добавил в выпадающее меню главной формы
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
  TimetableOfClasses/TypesOfOccupations.Designer.cs
  TimetableOfClasses/TypesOfOccupations.cs
  TimetableOfClasses/TypesOfOccupations.resx
Labels: Story, View, Вид занятия, ЛР03

#155 Создана форма Добавить группу
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/AddGroup.resx
Labels: Group, Insert(Model model), Story, View, ЛР03

#115 Создана форма "ВУЗы"
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
  TimetableOfClasses/University.Designer.cs
  TimetableOfClasses/University.cs
  TimetableOfClasses/University.resx
Labels: Story, View, ВУЗ, ЛР03

#150 Устранил предупреждения
  TimetableOfClasses/Teachers.Designer.cs
Labels: improvement, ЛР03

#172 "Дисциплины", при добавлении дисциплины кнопка "удалить" не активна
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Teachers.Designer.cs
Labels: Bug, View, Дисциплина, ЛР03

#156 Устранен баг программы при удалении дисциплины в пустой таблице "дисциплина"
  TimetableOfClasses/Discipline.cs
Labels: Bug, Delete(Model model), View, Дисциплина, ЛР03

#191 Реализованы unit-test для метода Insert(Model model) сущности Group
  UnitTestOfTimetableOfClasses/UT_CGroup.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
  UnitTestOfTimetableOfClasses/packages.config
Labels: Auto test, Controller, Insert(Model model), Unit test, Группа, ЛР04
