Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-05, with the labels that each got.

#548 Доделана форма Направление подготовки
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/AddDirectionOfPreparation.Designer.cs
  TimetableOfClasses/AddDirectionOfPreparation.cs
  TimetableOfClasses/AddDirectionOfPreparation.resx
  TimetableOfClasses/DirectionOfPreparation.Designer.cs
  TimetableOfClasses/DirectionOfPreparation.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: View, Направление подготовки

#566 Исправлен баг в "Дисциплине"
  LibOfTimetableOfClasses/CDiscipline.cs
Labels: Bug, Controller, Дисциплина

#568 Исправлен баг с добавлением аудитории с вместимостью 0
  TimetableOfClasses/AddAuditor.Designer.cs
  TimetableOfClasses/AddAuditor.cs
Labels: Bug, View, Аудитория

#565 Юнит-тесты для методов Insert и Update класса CDirectionOfPreparation
  UnitTestOfTimetableOfClasses/UT_CDirectionOfPreparation.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Insert(Model model), Unit test, Update(Model model), Направление подготовки

#561 Добавлены UT для CDirectionOfPreparation и MDirectionOfPreparation
  UnitTestOfTimetableOfClasses/UT_Delete_CDirectionOfPreparation.cs
  UnitTestOfTimetableOfClasses/UT_MDirectionOfPreparation.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Delete(Model model), Unit test, new(), Направление подготовки

#570 Исправлены тесты в соответствии со Сценариями
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Unit test

#569 Добавлено сообщение об ошибке при попытке продублировать существующую сущность
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/AddDirectionOfPreparation.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/AddProfile.cs
Labels: Bug, View, Аудитория, Дисциплина, Направление подготовки, ПрофильПодготовки

#582 Добавлена валидация в MEnclosures
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/MEnclosures.cs
Labels: Model, improvement, Корпус

#579 Added validation in properties
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/MTeacher.cs
  TimetableOfClasses/AddTeacher.cs
Labels: Controller, Model, improvement, Преподаватель

#580 В форме Направление подготовки добавлена возможность ввода точки в поле Код направления
  TimetableOfClasses/AddDirectionOfPreparation.cs
Labels: Bug, Направление подготовки, Средний

#584 Реализована валидация в свойствах модели MGroup
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/MGroup.cs
Labels: Model, Группа

#586 Исправление бага, возникающего при открытии формы Корпуса
  TimetableOfClasses/AddUniversity.cs
  TimetableOfClasses/Enclosures.Designer.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/University.Designer.cs
  TimetableOfClasses/University.resx
  UnitTestOfTimetableOfClasses/UT_MTeacher.cs
Labels: Bug, View, Корпус

#587 Исправлены unit-тесты
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_MTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
Labels: Unit test, improvement

#589 Добавлена валидация в свойства модели MUniversity
  LibOfTimetableOfClasses/MUniversity.cs
  TimetableOfClasses/AddUniversity.cs
Labels: Model, improvement, ВУЗ

#590 Bug Fixed
  LibOfTimetableOfClasses/CUniversity.cs
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
Labels: Bug, Controller, Группа

#593 Исправлена ошибка в ФИО ректора при изменении университета
  LibOfTimetableOfClasses/CUniversity.cs
Labels: Bug, Update(Model model), ВУЗ, Средний

#594 Исправлено отображение номера строки у группы, вуза и преподавателя
  TimetableOfClasses/Groups.Designer.cs
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/University.Designer.cs
Labels: Bug, View, ВУЗ, Группа, Корпус, Низкий, Преподаватель

#597 Исправлены unit-тесты
  UnitTestOfTimetableOfClasses/UT_Delete_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_MUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Unit test, improvement

#595 Устранил баг, добавив два условия
  TimetableOfClasses/University.cs
Labels: Bug, ВУЗ, Низкий

#599 Устранение бага в свойстве отчества сущности преподователь
  LibOfTimetableOfClasses/MTeacher.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/University.cs
Labels: Bug, Insert(Model model), Высокий, Преподаватель

#602 Обработано исключение при повторном нажатии кнопки "Удалить"
  TimetableOfClasses/AcademicTitle.cs
Labels: Bug, Controller, Высокий, Учёное звание

#592 Переделано свойство Speciality модели MGroup
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/MEnclosures.cs
  LibOfTimetableOfClasses/MGroup.cs
  LibOfTimetableOfClasses/MTeacher.cs
  LibOfTimetableOfClasses/MTrainingProfiles.cs
  LibOfTimetableOfClasses/MUniversity.cs
  TimetableOfClasses/AddEnclosures.cs
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/Groups.Designer.cs
  TimetableOfClasses/Program.cs
  TimetableOfClasses/Start.Designer.cs
Labels: Controller, Model, View, improvement, Группа

#619 Добавлен выбор ВУЗов из существующих в форме институты
  LibOfTimetableOfClasses/CInstitute.cs
  LibOfTimetableOfClasses/MInstitute.cs
  TimetableOfClasses/AddInstitute.Designer.cs
  TimetableOfClasses/AddInstitute.cs
  TimetableOfClasses/Institute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
Labels: Story, Институт

#627 Исправлены Unit-тесты которые были поломаны
  UnitTestOfTimetableOfClasses/UT_MGroup.cs
Labels: Unit test, improvement

#631 Исправлены юнит-тесты для методов delete(Model model)
  UnitTestOfTimetableOfClasses/UI_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
  UnitTestOfTimetableOfClasses/packages.config
Labels: Story, Институт

#633 Revert "Исправлены юнит-тесты для методов delete(Model model)"
  UnitTestOfTimetableOfClasses/UI_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
  UnitTestOfTimetableOfClasses/packages.config
Labels: Story, Институт

#635 Разработан функционал выбора у преподавателя ученой степени
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/MTeacher.cs
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/Teachers.resx
  UnitTestOfTimetableOfClasses/UT_MTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
Labels: Controller, Model, Story, View, Преподаватель

#639 Автоматизировал сценарии тестирования методом юнит-тестирования для метода Delete(Model model) сущности Учёная степень
  UnitTestOfTimetableOfClasses/UT_Delete_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Delete(Model model), Unit test, Ученая степень

#634 Исправлены юнит-тесты
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
Labels: Auto test, Controller, Delete(Model model), Insert(Model model), Unit test, Update(Model model), Институт

#640 Подключил тест к сборке
  UnitTestOfTimetableOfClasses/UT_Insert_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Insert(Model model), Unit test, Ученая степень

#541 Автоматизирован сценарий тестирования методом юнит-тестирования для метода Update(Model model) сущности Учёная степень
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Unit test, Update(Model model), Ученая степень

#641 Исправление юнит-тестов
  UnitTestOfTimetableOfClasses/UI_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Controller, Delete(Model model), Insert(Model model), Unit test, Update(Model model), Институт, Учёное звание

#644 task 618 remove UT
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
Labels: Auto test, Controller, Delete(Model model), Insert(Model model), Unit test, Update(Model model), Институт, Учёное звание

#647 Unit-тесты для конструктора MInstitute() сущности MInstitute
  UnitTestOfTimetableOfClasses/UT_MInstitute.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Model, Unit test, new(), Институт

#648 Написать unit-тесты для конструктора MTitle() сущности MTitle
  UnitTestOfTimetableOfClasses/UT_MTitle.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Model, Unit test, new(), Учёное звание

#632 У профиля подготовки реализовать выбор Направления подготовки
  TimetableOfClasses/AddProfile.Designer.cs
  TimetableOfClasses/AddProfile.cs
  TimetableOfClasses/DirectionOfPreparation.Designer.cs
Labels: View, ПрофильПодготовки

#654 "Аудитория" исправлена ошибка при удалении
  LibOfTimetableOfClasses/CAuditor.cs
Labels: Bug, Аудитория, Высокий

#653 "Профиль подготовки" исправлена ошибка при удалении
  LibOfTimetableOfClasses/CTrainingProfiles.cs
Labels: Bug, Высокий, ПрофильПодготовки

#657 Перенесена проверка вводимых значений Формы Добавить институт из формы в модель
  LibOfTimetableOfClasses/MInstitute.cs
  TimetableOfClasses/AddInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_MInstitute.cs
Labels: Story, Институт

#673 Создано DataRelation для связи форм University и Enclosures
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/Controllers.cs
  TimetableOfClasses/AddEnclosures.Designer.cs
  TimetableOfClasses/AddEnclosures.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/University.Designer.cs
  TimetableOfClasses/University.cs
Labels: Controller, improvement, ВУЗ, Корпус

#674 Добавил в форму Преподаватель изменения
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/Teachers.Designer.cs
  TimetableOfClasses/Teachers.resx
Labels: Story, View, Преподаватель

#681 Устранен крах при удалении записи в "Ученые звания"
  LibOfTimetableOfClasses/CTitle.cs
Labels: Bug, Controller, Высокий, ЛР03, Учёное звание

#684 Можно добавить корректное ученое звание в Ученые звания
  TimetableOfClasses/AddAcademicTitle.cs
Labels: Bug, Controller, ЛР03, Учёное звание

#687 Не всплывает сообщение об ошибке когда поля заполнены корректно.Справочник - Институт
  LibOfTimetableOfClasses/CInstitute.cs
  TimetableOfClasses/AddInstitute.cs
Labels: Bug, Controller, Институт, ЛР03

#679 Реализован выбор профиля из таблицы профилей двойным кликом
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/TrainingProfiles.Designer.cs
  TimetableOfClasses/TrainingProfiles.cs
Labels: Story, View, Группа, Направление подготовки

#688 Исправлено, теперь в Ученые звания нельзя добавить некорректное ученое звание
  LibOfTimetableOfClasses/MTitle.cs
  TimetableOfClasses/AddAcademicTitle.cs
  UnitTestOfTimetableOfClasses/UT_MTitle.cs
  azure-pipelines.yml
Labels: Bug, Controller, ЛР03, Учёное звание

#701 Исправление названия юнит-теста для метода Update(Model model) сущности Институт
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
Labels: Auto test, Controller, Script, Unit test, Update(Model model), Институт

#702 Подключил поле Ученая степень из AcademicDegree к таблице Teacher
  LibOfTimetableOfClasses/CAcademicDegree.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/CTitle.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/MAcademicDegree.cs
  LibOfTimetableOfClasses/MTeacher.cs
  LibOfTimetableOfClasses/MTitle.cs
  TimetableOfClasses/AcademicDegree.Designer.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AcademicDegree.resx
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AcademicTitle.resx
  TimetableOfClasses/AddAcademicDegree.cs
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicDegree.cs
Labels: Controller, Story, Преподаватель

#699 Создал проверку на отсутствие полей в вузе
  TimetableOfClasses/Enclosures.Designer.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/University.cs
Labels: Story, View, ВУЗ, Корпус

#700 Создана проверка на наличие в таблице "Профили подготовки" хоть одной записи при запуске формы Добавить группу.
  TimetableOfClasses/AddGroup.Designer.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/University.cs
Labels: Story, Группа, ПрофильПодготовки

#708 Табуляция исправлена
  LibOfTimetableOfClasses/MInstitute.cs
  LibOfTimetableOfClasses/MTitle.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/Institute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_MInstitute.cs
  UnitTestOfTimetableOfClasses/UT_MTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTitle.cs
Labels: Институт, Учёное звание

#710 Устранен крах при удалении записи в "Ученые звания"
  LibOfTimetableOfClasses/MTitle.cs
Labels: Bug, Controller, Высокий, ЛР03, Учёное звание

#698 Вызовы окон ShowDialog заменены на Show
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/DirectionOfPreparation.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/TrainingProfiles.cs
Labels: View, Аудитория, Дисциплина, Направление подготовки, ПрофильПодготовки

#713 Исправил Unit-тесты для метода Update(Model model) сущности Учёная степень
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicDegree.cs
Labels: Auto test, Controller, Unit test, Update(Model model), Ученая степень

#715 Исправил возможность выбора ВУЗа
  LibOfTimetableOfClasses/CInstitute.cs
  LibOfTimetableOfClasses/Controllers.cs
  TimetableOfClasses/AddInstitute.cs
  TimetableOfClasses/Institute.Designer.cs
  TimetableOfClasses/Institute.cs
  TimetableOfClasses/Institute.resx
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
Labels: Controller, Институт

#720 Добавил возможность выбора директора
  LibOfTimetableOfClasses/Controllers.cs
  TimetableOfClasses/AddInstitute.Designer.cs
  TimetableOfClasses/AddInstitute.cs
  TimetableOfClasses/Institute.Designer.cs
  TimetableOfClasses/Institute.cs
Labels: Controller, View, Институт

#718 Task 717
  TimetableOfClasses/AddEnclosures.Designer.cs
  TimetableOfClasses/AddEnclosures.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/Enclosures.Designer.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TrainingProfiles.Designer.cs
  TimetableOfClasses/TrainingProfiles.cs
Labels: Controller, Story, ВУЗ, Корпус

#723 Исправление ошибки удаления приподавателя без отчества
  TimetableOfClasses/Teachers.cs
Labels: Bug, Высокий, Преподаватель

#724 Удалил конструктор
  LibOfTimetableOfClasses/MUniversity.cs
  TimetableOfClasses/University.cs
Labels: Model, ВУЗ

#729 Добавил проверки вводимых значений в поля для формы добавления/изменения Учёной степени
  LibOfTimetableOfClasses/MAcademicDegree.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AddAcademicDegree.Designer.cs
  TimetableOfClasses/AddAcademicDegree.cs
Labels: Model, Story, View, Ученая степень

#725 #704: Изменено событие для выбора ВУЗа по двойному щелчку
  TimetableOfClasses/University.Designer.cs
  TimetableOfClasses/University.cs
Labels: Bug, Controller, ВУЗ

#727 ИСПРАВЛЕНО: Изменение ФИО ректора при редактировании ВУЗ'а
  LibOfTimetableOfClasses/CUniversity.cs
Labels: Bug, ВУЗ, Средний

#731 Доработал отображение выпадающих список в AddTeacher и добавить проверку
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/CTitle.cs
  LibOfTimetableOfClasses/Controllers.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AddAcademicTitle.cs
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/Teachers.cs
Labels: Story, View, Преподаватель

#742 "Устранил ошибку с изменением первой строки в формах Ученые звания и Институт
  LibOfTimetableOfClasses/CInstitute.cs
  LibOfTimetableOfClasses/CTitle.cs
  TimetableOfClasses/AddAcademicTitle.cs
  TimetableOfClasses/AddInstitute.cs
Labels: Bug, Controller, Высокий, Учёное звание

#743 Изменил unit-тесты для метода Update(Model model) сущности CTeacher
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
Labels: Auto test, Controller, Unit test, Update(Model model), Преподаватель

#744 Изменил unit-тесты для метода Insert(Model model) сущности CTeacher
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
Labels: Auto test, Controller, Insert(Model model), Unit test, Преподаватель

#728 Реализован выбор кода направления подготовки
  LibOfTimetableOfClasses/CTrainingProfiles.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/MTrainingProfiles.cs
  TimetableOfClasses/AddProfile.Designer.cs
  TimetableOfClasses/AddProfile.cs
  TimetableOfClasses/DirectionOfPreparation.Designer.cs
  TimetableOfClasses/DirectionOfPreparation.cs
  TimetableOfClasses/Program.cs
  TimetableOfClasses/TrainingProfiles.Designer.cs
  TimetableOfClasses/TrainingProfiles.cs
  TimetableOfClasses/TrainingProfiles.resx
Labels: Controller, Model, View, Направление подготовки, ПрофильПодготовки

#777 Исправлена ошибка с вставкой неподходящих значений в добавлении университета
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/MUniversity.cs
  TimetableOfClasses/AddUniversity.cs
Labels: Bug, ВУЗ, Средний

#781 Сделано ограничение на ввод Полного названия профиля и ограничение на ввод Краткого названия
  TimetableOfClasses/AddProfile.Designer.cs
  TimetableOfClasses/AddProfile.cs
Labels: Bug, Низкий, ПрофильПодготовки

#711 Реализован выбор у Аудитории Корпуса
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/MAuditor.cs
  TimetableOfClasses/AddAuditor.Designer.cs
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Program.cs
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_MAuditor.cs
Labels: Controller, View, Аудитория

#797 Исправление ошибки при попытке обновить информацию о ВУЗе
  TimetableOfClasses/AddGroup.cs
Labels: Bug, Высокий, Группа

#805 Автоматизированы unit-тесты класса CTrainingProfile
  UnitTestOfTimetableOfClasses/UT_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UT_MTrainingProfile.cs
Labels: Auto test, Unit test, ПрофильПодготовки

#812 Реализован выбор у Аудитории Корпуса, автоматизированы UT для сущности Аудитории
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/MAuditor.cs
  TimetableOfClasses/AddAuditor.Designer.cs
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Enclosures.Designer.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Program.cs
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_MAuditor.cs
Labels: Auto test, Controller, Story, Unit test, View, Аудитория

#803 Добавлена документация для классов MGroup и CGroup
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/MGroup.cs
Labels: Controller, Model, Группа

#811 RefData перенесены статические поля в проект LibOfTimetableOfClasses класс Controllers
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/CUniversity.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/RefData.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AddAcademicDegree.cs
  TimetableOfClasses/AddAcademicTitle.cs
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/AddEnclosures.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/AddProfile.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/AddUniversity.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Program.cs
  TimetableOfClasses/RefData.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/TimetableOfClasses.csproj
  TimetableOfClasses/TrainingProfiles.cs
  TimetableOfClasses/University.cs
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Controller, Story, improvement

#824 Добавлена проверка количества выбранных рядов
  TimetableOfClasses/University.cs
Labels: Bug, Controller, ВУЗ, Высокий

#813 ИСПРАВЛЕНО: Программа падает при двойном клике по заголовку таблицы
  TimetableOfClasses/TrainingProfiles.cs
Labels: Bug, Высокий, ПрофильПодготовки

#826 Документирован код относящийся к справочнику Корпус
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/MEnclosures.cs
Labels: Controller, Model, Корпус

#829 Документация для классов MTeacher и CTeacher
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/MTeacher.cs
Labels: Controller, Model, Преподаватель

#825 ИСПРАВЛЕНО: Программа падает при удалении пустой таблицы
  TimetableOfClasses/University.cs
Labels: Bug, ВУЗ, Высокий

#830 ИСПРАВЛЕНО: Не отображается запись в графе окна
  LibOfTimetableOfClasses/MTeacher.cs
Labels: Bug, Преподаватель, Средний

#833 Добавлен раздел Кафедры
  TimetableOfClasses/Departments.Designer.cs
  TimetableOfClasses/Departments.cs
  TimetableOfClasses/Departments.resx
  TimetableOfClasses/Start.Designer.cs
  TimetableOfClasses/Start.cs
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: Кафедра

#848 Добавление валидации в Профили подготовки
  LibOfTimetableOfClasses/MTrainingProfiles.cs
  TimetableOfClasses/AddProfile.Designer.cs
  TimetableOfClasses/AddProfile.cs
Labels: improvement, ПрофильПодготовки, Средний

#849 ИСПРАВЛЕНО: Программа падает при удалении измененной записи таблицы "Профиль подготовки"
  LibOfTimetableOfClasses/CTrainingProfiles.cs
Labels: Bug, Высокий, ПрофильПодготовки

#831 Сделал поля почты и телефона ключами, видоизменил вывод ошибки добавления
  LibOfTimetableOfClasses/CUniversity.cs
  TimetableOfClasses/AddUniversity.cs
Labels: Bug, ВУЗ, Низкий

#793 Добавлены описания к указанным методам, конструкторам и классам MUniversity и CUniversity
  LibOfTimetableOfClasses/CUniversity.cs
  LibOfTimetableOfClasses/MUniversity.cs
Labels: Controller, Model, ВУЗ

#856 Починил исключение происходящее при нажатии на кнопку изменить
  TimetableOfClasses/AcademicTitle.cs
Labels: Story, Update(Model model), Ученая степень

#857 Изменил проверки полей при добавлении уч. степени, изменил положение кнопок
  LibOfTimetableOfClasses/MAcademicDegree.cs
  TimetableOfClasses/AcademicDegree.Designer.cs
  TimetableOfClasses/AddAcademicDegree.Designer.cs
  TimetableOfClasses/AddAcademicDegree.cs
Labels: Model, Story, View, Ученая степень

#859 Изменена валидация
  LibOfTimetableOfClasses/MTitle.cs
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AddAcademicTitle.Designer.cs
  TimetableOfClasses/AddAcademicTitle.cs
  TimetableOfClasses/AddAcademicTitle.resx
  UnitTestOfTimetableOfClasses/UT_MTitle.cs
Labels: Model, Story, View, Учёное звание

#860 Исправил ошибку при попытке добавления ученой степени с тире
  LibOfTimetableOfClasses/MAcademicDegree.cs
  TimetableOfClasses/AddAcademicDegree.cs
Labels: Bug, Controller, Ученая степень

#861 Добавил комментарии для CInstitute
  LibOfTimetableOfClasses/CInstitute.cs
Labels: Controller, Институт

#862 Исправлена ошибка в общем контроллере
  LibOfTimetableOfClasses/Controllers.cs
Labels: Bug, Controller

#847 Добавлены комментарии к моделям
  LibOfTimetableOfClasses/MAuditor.cs
  LibOfTimetableOfClasses/MDirectionOfPreparation.cs
  LibOfTimetableOfClasses/MDiscipline.cs
  LibOfTimetableOfClasses/MTrainingProfiles.cs
Labels: Model, Аудитория, Дисциплина, Направление подготовки, ПрофильПодготовки

#871 Доработал проверку полей
  LibOfTimetableOfClasses/MInstitute.cs
  TimetableOfClasses/AddAcademicTitle.cs
  TimetableOfClasses/AddInstitute.Designer.cs
  TimetableOfClasses/AddInstitute.cs
  TimetableOfClasses/AddInstitute.resx
  TimetableOfClasses/Institute.Designer.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_MInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
Labels: Model, Story, View, Институт

#883 Добавление верхнего регистра при update'е ВУЗа
  TimetableOfClasses/AddProfile.Designer.cs
  TimetableOfClasses/AddUniversity.Designer.cs
  TimetableOfClasses/AddUniversity.cs
Labels: Bug, ВУЗ, Высокий

#887 В добавление преподавателя передаланы выборы степени и звания
  TimetableOfClasses/AcademicDegree.Designer.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AcademicTitle.Designer.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AddTeacher.Designer.cs
  TimetableOfClasses/AddTeacher.cs
Labels: Bug, Преподаватель, Средний, Ученая степень, Учёное звание

#885 ИСПРАВЛЕНО: Возможность существования двух, разных по названию, корпусов, на одно адресе и с одним телефоном
  LibOfTimetableOfClasses/CEnclosures.cs
  TimetableOfClasses/AddEnclosures.cs
Labels: Bug, Корпус, Средний

#895 Исправлены unit-тесты
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Unit test, improvement

#901 Заблокировал кнопку выбора вуза при изменении информации о корпусе
  TimetableOfClasses/AddEnclosures.cs
Labels: improvement, Корпус, Низкий

#900 Удалил все конструкторы-нарушители
  LibOfTimetableOfClasses/MEnclosures.cs
  LibOfTimetableOfClasses/MGroup.cs
  LibOfTimetableOfClasses/MTeacher.cs
  LibOfTimetableOfClasses/MUniversity.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/University.cs
Labels: Bug, Model, new(), Корпус

#886 Добавлены комментарии для разработанных Контроллеров
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/CDirectionOfPreparation.cs
  LibOfTimetableOfClasses/CDiscipline.cs
  LibOfTimetableOfClasses/CTrainingProfiles.cs
Labels: Controller, Аудитория, Дисциплина, Направление подготовки, ПрофильПодготовки

#907 Исправил баг в "Ученую степень" можно добавить некорректную запись
  LibOfTimetableOfClasses/MAcademicDegree.cs
  TimetableOfClasses/AddAcademicDegree.Designer.cs
  TimetableOfClasses/AddAcademicDegree.cs
Labels: improvement, Ученая степень

#902 Изменение столбца для DataRelation
  LibOfTimetableOfClasses/CUniversity.cs
  LibOfTimetableOfClasses/MEnclosures.cs
  LibOfTimetableOfClasses/RefData.cs
  TimetableOfClasses/AddEnclosures.cs
  TimetableOfClasses/AddUniversity.cs
  TimetableOfClasses/University.cs
Labels: Bug, ВУЗ, Средний

#896 Написание тестов для выбора
  UnitTestOfTimetableOfClasses/UT_Selection.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
  UnitTestOfTimetableOfClasses/UnitTestOfTimetableOfClasses.csproj
Labels: Auto test, Unit test

#911 Исправлены unit-тесты
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Selection.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Unit test, improvement

#923 Заблокирован ввод кавычек в поле Полное название института
  LibOfTimetableOfClasses/MInstitute.cs
  TimetableOfClasses/AddInstitute.Designer.cs
  TimetableOfClasses/AddInstitute.cs
Labels: Controller, improvement, Институт, ЛР03, Низкий

#925 Только первая буква в поле Полное название института может быть заглавной
  LibOfTimetableOfClasses/MInstitute.cs
  TimetableOfClasses/AddInstitute.Designer.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_MInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
Labels: Controller, improvement, Институт, ЛР03

#931 Заблокировано масштабирование окна
  TimetableOfClasses/AddAcademicTitle.Designer.cs
Labels: Bug, Controller, ЛР03, Учёное звание

#930 Внесены изменения и добавлены юнит-тесты для методов Delete(Model model), Insert(Model model), Update(Model model) для сущности Институт
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
Labels: Delete(Model model), Insert(Model model), Unit test, Update(Model model), Институт

#934 Переименовал Controllers в RefData
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/CUniversity.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  LibOfTimetableOfClasses/RefData.cs
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AddAcademicDegree.cs
  TimetableOfClasses/AddAcademicTitle.cs
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/AddEnclosures.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/AddInstitute.cs
  TimetableOfClasses/AddProfile.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/AddUniversity.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Institute.cs
  TimetableOfClasses/Program.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/TrainingProfiles.cs
  TimetableOfClasses/University.cs
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
  UnitTestOfTimetableOfClasses/UT_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Controller

#937 Revert "Переименовал Controllers в RefData"
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/CUniversity.cs
  LibOfTimetableOfClasses/Controllers.cs
  LibOfTimetableOfClasses/LibOfTimetableOfClasses.csproj
  TimetableOfClasses/AcademicDegree.cs
  TimetableOfClasses/AcademicTitle.cs
  TimetableOfClasses/AddAcademicDegree.cs
  TimetableOfClasses/AddAcademicTitle.cs
  TimetableOfClasses/AddAuditor.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/AddEnclosures.cs
  TimetableOfClasses/AddGroup.cs
  TimetableOfClasses/AddInstitute.cs
  TimetableOfClasses/AddProfile.cs
  TimetableOfClasses/AddTeacher.cs
  TimetableOfClasses/AddUniversity.cs
  TimetableOfClasses/Auditor.cs
  TimetableOfClasses/Discipline.cs
  TimetableOfClasses/Enclosures.cs
  TimetableOfClasses/Groups.cs
  TimetableOfClasses/Institute.cs
  TimetableOfClasses/Program.cs
  TimetableOfClasses/Teachers.cs
  TimetableOfClasses/TrainingProfiles.cs
  TimetableOfClasses/University.cs
  UnitTestOfTimetableOfClasses/UT_CAuditor.cs
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
  UnitTestOfTimetableOfClasses/UT_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CTrainingProfile.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Deleted_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicDegree.cs
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
  UnitTestOfTimetableOfClasses/UT_Update_CInstitute.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTitle.cs
  UnitTestOfTimetableOfClasses/UT_Update_CUniversity.cs
Labels: Controller

#941 Добавил документацию кода
  LibOfTimetableOfClasses/CAcademicDegree.cs
  LibOfTimetableOfClasses/MAcademicDegree.cs
  TimetableOfClasses/AcademicDegree.cs
Labels: Story, Ученая степень

#972 Исправление UT для сущности Дисциплина
  UnitTestOfTimetableOfClasses/UT_CDiscipline.cs
Labels: Insert(Model model), Unit test, Дисциплина

#973 Relese Sprint 7
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/CDirectionOfPreparation.cs
  LibOfTimetableOfClasses/CDiscipline.cs
  LibOfTimetableOfClasses/CTrainingProfiles.cs
  LibOfTimetableOfClasses/MAuditor.cs
  LibOfTimetableOfClasses/MDirectionOfPreparation.cs
  LibOfTimetableOfClasses/MDiscipline.cs
  LibOfTimetableOfClasses/MTrainingProfiles.cs
  LibOfTimetableOfClasses/RefData.cs
  TimetableOfClasses/AddDiscipline.cs
  TimetableOfClasses/Program.cs
Labels: План

#981 Реализовал визуальую часть формы Добавить кафедру
  TimetableOfClasses/AddDepartment.Designer.cs
  TimetableOfClasses/AddDepartment.cs
  TimetableOfClasses/AddDepartment.resx
  TimetableOfClasses/TimetableOfClasses.csproj
Labels: View, Кафедра
