Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-10, with the labels that each got.

#1231 Разработал метод Insert(Model model) сущности Нагрузка. Добавил документацию кода.
  LibOfTimetableOfClasses/CAcademicLoad.cs
Labels: Controller, Insert(Model model), Story, Нагрузка

#1222 fixed UT_Update_CEnclosurse
  UnitTestOfTimetableOfClasses/UT_Update_CEnclosurse.cs
Labels: Auto test, Script, Unit test

#1234 Добавил в RefData контроллер Нагрузка
  LibOfTimetableOfClasses/RefData.cs
Labels: Story, Нагрузка
