Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2019-11, with the labels that each got.

#1236 Добавлены аудитории для E-корпуса
  LibOfTimetableOfClasses/RefData.cs
Labels: Аудитория

#1208 Исправлены сбои в автотестах UT_Insert_CUniversity.
  UnitTestOfTimetableOfClasses/UT_Insert_CUniversity.cs
Labels: Auto test, Script, Unit test

#1229 Реализовал метод Delete(Model model) сущности Нагрузка #1203
  LibOfTimetableOfClasses/CAcademicLoad.cs
Labels: Controller, Delete(Model model), Story, Нагрузка

#1233 Заполнение сущности Дисциплина
  LibOfTimetableOfClasses/RefData.cs
Labels: Дисциплина

#1248 Починил refData
  LibOfTimetableOfClasses/CAcademicLoad.cs
  LibOfTimetableOfClasses/RefData.cs
  TimetableOfClasses/Start.cs
Labels: Высокий

#1249 Заполнена информация аудиторного фонда корпуса Б
  LibOfTimetableOfClasses/RefData.cs
Labels: Аудитория

#1223 Исправил сбои в автотестах расположенных в файле UT_Insert_CEnclosurse
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
Labels: Auto test, Script, Unit test

#1253 Заполнил RefData сущности преподаватель
  LibOfTimetableOfClasses/RefData.cs
Labels: Преподаватель
