Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2020-07, with the labels that each got.

#1278 Исправил поле _fullname сущности Институт
  LibOfTimetableOfClasses/MInstitute.cs
Labels: Model, Институт

#1279 Исправил проверку символов поля _fullname сущности "Институт"
  LibOfTimetableOfClasses/MInstitute.cs
Labels: Model, Институт

#1289 Исправила критический сбой при работе со связью группа-нагрузка
  LibOfTimetableOfClasses/RefData.cs
Labels: Bug, Группа, Нагрузка

#1305 Исправила критический сбой в связи учитель-нагрузка
  LibOfTimetableOfClasses/CAcademicDegree.cs
  LibOfTimetableOfClasses/CAcademicLoad.cs
  LibOfTimetableOfClasses/CAuditor.cs
  LibOfTimetableOfClasses/CDirectionOfPreparation.cs
  LibOfTimetableOfClasses/CDiscipline.cs
  LibOfTimetableOfClasses/CEnclosures.cs
  LibOfTimetableOfClasses/CGroup.cs
  LibOfTimetableOfClasses/CHEI.cs
  LibOfTimetableOfClasses/CInstitute.cs
  LibOfTimetableOfClasses/CStudyWeek.cs
  LibOfTimetableOfClasses/CTeacher.cs
  LibOfTimetableOfClasses/CTitle.cs
  LibOfTimetableOfClasses/CTrainingProfiles.cs
  LibOfTimetableOfClasses/CTypesOfOccupations.cs
  LibOfTimetableOfClasses/CUniversity.cs
  LibOfTimetableOfClasses/RefData.cs
Labels: Bug, Нагрузка, Учитель

#1306 Заполнил RefData для сущности Нагрузка для группы 17-ВТбо-1
  LibOfTimetableOfClasses/RefData.cs
Labels: Нагрузка

#1286 Исправил сбои автотестов расположенных в файле UT_Insert_CTitle
  Docs/UT_Insert_CTitle/CODE.PNG
  Docs/UT_Insert_CTitle/GRAPH.PNG
  Docs/UT_Insert_CTitle/REPORT.md
  UnitTestOfTimetableOfClasses/UT_Insert_CTitle.cs
Labels: Auto test, Script, Unit test
