Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2020-08, with the labels that each got.

#1320 Методические рекомендации к использованию метода тестирования "Белый ящик"
  Docs/White-box/CODE.PNG
  Docs/White-box/GRAPH.PNG
  Docs/White-box/README.md
Labels: question

#1325 Удаление лишних проверок в CAcademicLoad.CS
  LibOfTimetableOfClasses/CAcademicLoad.cs
Labels: improvement

#1327 Разработаны требования для написания модульных тестов
  Docs/Unit-test/README.md
Labels: Documentation

#1330 Убрал ужидание исключения
  UnitTestOfTimetableOfClasses/UT_Insert_CEnclosurse.cs
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicLoad.cs
Labels: Auto test

#1337 Удалил форму которой в тестах не должно быть
  UnitTestOfTimetableOfClasses/AcademicLoad.cs
  UnitTestOfTimetableOfClasses/AcademicLoad.designer.cs
  UnitTestOfTimetableOfClasses/AcademicLoad.resx
Labels: refactoring

#1336 Отделение инициализации RefData от ее конструктора
  LibOfTimetableOfClasses/RefData.cs
Labels: improvement
