Repository Students-of-the-city-of-Kostroma/Student-timetable, pull requests merged in 2020-09, with the labels that each got.

#1341 Исправил опечатки в документе README.MD
  README.md
Labels: Documentation, improvement, Низкий

#1217 Исправил сбои в автотестах UT_Delete_CEnclosures
  Docs/UT_Delete_CEnclosures/CODE2.JPG
  Docs/UT_Delete_CEnclosures/GRAPH2.JPG
  Docs/UT_Delete_CEnclosures/REPORT.md
  LibOfTimetableOfClasses/RefData.cs
  UnitTestOfTimetableOfClasses/UT_Delete_CEnclosures.cs
Labels: Auto test, Script, Unit test

#1295 Исправил сбои в автотестах UT_Update_CGroup
  Docs/UT_Update_CGroup/CODE.PNG
  Docs/UT_Update_CGroup/GRAPH.PNG
  Docs/UT_Update_CGroup/REPORT.md
  UnitTestOfTimetableOfClasses/UT_Update_CGroup.cs
Labels: Auto test, Controller, Update(Model model), Группа

#1309 Исправление сбоев в автотестах расположенных в UT_Update_CTeacher
  Docs/UT_Update_CTeacher/CODE.PNG
  Docs/UT_Update_CTeacher/GRAPH.PNG
  Docs/UT_Update_CTeacher/REPORT.md
  LibOfTimetableOfClasses/CTeacher.cs
  UnitTestOfTimetableOfClasses/UT_Update_CTeacher.cs
Labels: Auto test, Controller, Unit test, Преподаватель

#1294 Исправление сбоев в автотестах расположенных в UT_Update_CAcademicLoad
  Docs/UT_Update_CAcademicLoad/CODE.PNG
  Docs/UT_Update_CAcademicLoad/GRAPH.PNG
  Docs/UT_Update_CAcademicLoad/REPORT.md
  UnitTestOfTimetableOfClasses/UT_Update_CAcademicLoad.cs
Labels: Auto test, Controller, Update(Model model), Нагрузка

#1353 Добавил описание жизненного цикла для задачи
  Docs/branches.md
  Docs/life-cycle.md
Labels: Documentation
